#user{
    font-weight: bold;
    background: #00aeef;
    color: #fff;
    border: none;
}

#user:hover{
    background: #1A1B84;
    border: none;
    color: #fff;
}

#user:focus{
    background: #1A1B84;
}

.dropdown-menu{
	background: #1A1B84;
}

.dropdown-item{
	color: #fff;
}

.dropdown-item:hover{
	color: #fff;
	background: #3A58BD;
}

.dropdown-divider{
	margin: 0%;
}

.section{
	padding-bottom: 75px;
}