*{
    background-color: #00aeef;
    font-family:'Times New Roman', Times, serif;
}
.imagen_principal{
    margin: 5%;
}

.imagen_principal img{
    display: block;
    width: 30%;
    height: 60%;
    position: absolute;
    top: 21%;
    float: left;
}

form{
    position: absolute;
    left: 50%;
    width: 30%;
    border: 1px solid #1A1B84;
    background: #fff;
    margin: 20px;
    padding: 40px;
}

label{
    font-size: 15px;
    width: 100%;
    background: #fff;
}

input{
    margin-bottom: 20px;
    width: 100%;
    background: #fff;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

input:focus{
    border: 1px solid #1A1B84
}

input[type="submit"]{
    margin-bottom: 0px;
    background: #1A1B84;
    color: #fff;
    border: none;
    margin-top: 3%;
}

input[type="submit"]:hover{
    background: #3A58BD;
    cursor: pointer;
}


a{
    text-decoration: none;
    background: #fff;
    color: #20B182;
}

h1{
    margin: 0% 0% 3%;
    font-size: 18px;
    background: #fff;
}